{
  "presets": ["babel-preset-expo"],
  "plugins": [
    ["import", { "libraryName": "antd-mobile" }],
    [
      "module-resolver",
      {
        "alias": {
          "react-native-vector-icons": "@expo/vector-icons",
          "~": "./src"
        }
      }
    ],
    "transform-decorators-legacy",
    "transform-exponentiation-operator",
    "transform-export-extensions"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        ["import", { "libraryName": "antd-mobile" }]
      ]
    },
    "production": {
      "plugins": [["import", { "libraryName": "antd-mobile" }]]
    }
  }
}
